/* Reset */
*,
body,
html {
	margin: 0;
	padding: 0;
}

/* Background */
html,
body {
	height: 100%;
	width: 100%;
	background-color: @black;//@color-05;
}
#transition-web {
	padding-top: 70px;
}
.page-header {
	background: @color-05;
	padding: 15px 30px;
	.flexrow();
	.flexstart();
	border-top: solid 5px @color-15;

	.geom {
		margin-right: 20px;
	}
}
.page-content {
	padding: 20px 150px 100px;
	@media (max-width: 900px) {
		padding: 20px 40px;
	}

	&.no-padding {
		padding: 0;
	}
}