#home {
	p {
		width: 70%;
		text-align: justify;
		font-size: 1.2rem;
	}
	a {
		text-decoration: none;
	}
	img {
		width: 500px;
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 10px;
		color: @grey-AAA;
		font-size: 1.5rem;
	}
	.abstract p {
		font-size: 1.4rem;
		line-height: 1.3em;
	}
	.about {
		h4 {
			margin: 10px 0;
			font-size: 1.1rem;
		}
		img {
			width: 130px;
			margin-right: 15px;
		}
		.location {
			margin-top: 40px;
		}
		p {
			font-size: 0.9rem;
		}
		.another-image img {
			width: 70%;
			text-align: center;
			margin: 50px 0 30px;
		}
	}
	.partners {
		filter: saturate(0);
		img {
			width: 150px;
			margin: 20px 40px;
		}
	}
}