#home {
	h1 {
		margin-top: 30px;
		margin-bottom: 0;
	}
	p {
		width: 65%;
		text-align: justify;
		font-size: 1.2rem;

		@media (max-width: 900px) {
			width: 100%;
		}
	}
	a {
		text-decoration: none;
	}
	img {
		max-width: 100%;
		&.smaller {
			width: 600px;
		}
	}
	h3 {
		padding-top: 75px;
		margin-bottom: 10px;
		color: @grey-AAA;
		font-size: 1.5rem;
	}
	.showcase {
		.flexrow();
		.flexwrap();

		img {
			margin: 10px;
		}
	}
	.abstract p {
		font-size: 1.4rem;
		line-height: 1.3em;
	}
	.about {
		h4 {
			margin: 20px 0;
			font-size: 1.1rem;
		}
		.bio-sections {
			font-size: 0;// Kill whitespace

			.bio-section {
				width: 50%;
				display: inline-block;
				vertical-align: top;

				.picandtext {
					.flexrow();
					.flexwrap();
					.flexstart();
					align-items: flex-start;

					h4 {
						margin-left: 20px;
					}
					img {
						width: 130px;
						margin-right: 15px;
					}
				}

				@media (max-width: 900px) {
					width: 100%;
				}

			}
		}

		.location {
			margin-top: 40px;
		}
		p {
			font-size: 0.9rem;
		}
		.another-image {
			.center();

			img {
				max-height: 350px;
				text-align: center;
				margin: 50px 0 30px;
			}
		}

	}
	.acks {
		.ack {
			margin: 20px;
			.flexcol();
			align-self: flex-end;

			&.superposition img {
				padding: 10px;
			}
			&.aadn img {
				padding: 10px;
			}
			&.aadn, &.mirage, &.superposition, &.melting {
				img {
					filter: invert(100%);
				}
			}
			&.melting p.fa {
				font-size: 110px;
			}
		}
		img, .ack.melting p.fa {
			width: 150px;
			margin: 20px 40px;
		}
		p {
			.center();
		}
	}
}