<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'/>
	<title>_Transition</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	
	<!-- Stylesheets -->
	<link rel='stylesheet' type='text/less' href="less/main.less" />
	<link rel='stylesheet' type='text/css' href="css/ie-fallback.css" />

	<!-- Only script in header: less on-the-fly compiler -->
	<script type='text/javascript' src="node_modules/less/dist/less.min.js"></script>
	
</head>
<body>

<div id="transition-web">
	<div class="header"
		 v-bind:class="{ 'mobile-menu-open': isOpen }">
		<div class="logo">
			<a href="#" class="menu-tab">
				<p>Transition logo</p>
			</a>
		</div>
		<div class="menu" v-on:click="isOpen = false">
			<a href="#abstract" class="menu-tab home">Abstract</a>
			<a href="#showcase" class="menu-tab home">Showcase</a>
			<a href="#mediums" class="menu-tab home">Mediums</a>
			<a href="#about" class="menu-tab home">About</a>
			<a href="#contact" class="menu-tab home">Contact</a>
		</div>
		<div class="mobile-burger" v-on:click="isOpen = !isOpen">
			<p class="fa fa-bars" v-if="!isOpen"></p>
			<p class="fa fa-times" v-if="isOpen"></p>
		</div>
	</div>

	<div class="core">
		<router-view></router-view>
	</div>

	<div class="footer">
		<p class="click-and-hue">jeanf & Alexandre Andrieux</p>
		<p class="version">@2018</p>
	</div>
</div>

<!-- View templates -->
<template id="home-template">
	<div id="home">
		<div class="page-banner"></div>

		<div class="page-content">
			<div class="abstract">
				<h3 id="abstract">Abstract</h3>
				<p>
					Both frustrating and mesmerizing states of mind are actors in this oniric scenery by exhibiting a constant yet unpredictable oscillation between organic and digital worlds. This switch is also present in the creative process. Through a constant transition between these states, lejeanf attempts to make visitors question themselves upon what they actually perceive being true or not.
				</p>
			</div>
			<div>
				<h3 id="showcase">Showcase</h3>
				<img src="img/art/pyramid.jpg" title="Magnetic field pyramid" />
				<video src="vids/magnetic.mp4" autoplay loop muted></video>
			</div>
			<div class="medium">
				<h3 id="mediums">Mediums</h3>
				<p>VR experience - Will be exhibited at Mirage Festival 2018, Lyon, FR.</p>
				<p>Dome performance - Vaux-En-Velin’s Planetarium show is under planning.</p>
			</div>
			<div class="about">
				<h3 id="about">About</h3>
				<h4>lejeanf</h4>
				<div class="jeanf flexrow flexstart">
					<img src="img/other/jeanf.png" title="jeanf" />
					<p>
						jeanf's artistic research is driven by an hybridation of object belonging to the technological realm confronted with the physical world by digitality.
						Moving images are taking most part in his practice.
						This aspect merges itself with a performative dimension, a taste for interactivity and an immersive character which all-in-all play with the notion of spacetime.
						He combines video to technical objects that he makes and transforms himself.
						<br/>
						<br/>
						jeanf directed the _Transition project from its inception to its realization.
						<br/>
						<br/>
						<a href="http://lejeanf.com/" target="_blank">http://lejeanf.com</a>
					</p>
				</div>
				<h4>Alexandre Andrieux</h4>
				<div class="alex flexrow flexstart">
					<img src="img/other/alexsquaregrey.jpg" title="alex" />
					<p>
						Alex is a creative coder who is all about revealing the intrinsic beauty of physical equations and maths that rule our universe.
						From a background in the web industry, he uses various techniques to create abstract artworks with particle systems.
						<br/>
						<br/>
						Alex imagined and programmed the physical models at play in _Transition.
						<br/>
						<br/>
						<a href="http://icosacid.com/" target="_blank">http://icosacid.com/</a>
					</p>
				</div>
				<div class="location">
					<h4>Location</h4>
					<p>Les subsitances, Lyon, FR > <a href="http://www.miragefestival.com/" target="_blank">http://www.miragefestival.com/</a></p>
					<p>Planetarium de Vaux-En-Velin, FR > <a href="http://www.planetariumvv.com/" target="_blank">http://www.planetariumvv.com/</a></p>
				</div>
				<h4>Music</h4>
				<div class="music">
					<p>Yngvesin - electronic music > <a href="https://soundcloud.com/yngvesin" target="_blank">https://soundcloud.com/yngvesin</a></p>
				</div>
				<div class="another-image">
					<img src="img/art/pyramid.jpg" />
				</div>
			</div>
			<div class="partners">
				<h3>Partners</h3>
				<div class="flexrow flexwrap">
					<img src="img/website/triango.svg" />
					<img src="img/website/triango.svg" />
					<img src="img/website/triango.svg" />
					<img src="img/website/triango.svg" />
					<img src="img/website/triango.svg" />
					<img src="img/website/triango.svg" />
					<img src="img/website/triango.svg" />
				</div>
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<!-- Components -->
<template id="logo-links-template">
	<div class="logo-links">
		<h3 id="contact">Contact</h3>
		<div class="inner">
			<a class="mailme" title="Send an e-mail" href="#"
			   onclick='linkTo_UnCryptMailto("nbjmup+jdptbdjeAhnbjm/dpn?tvckfdu=Nfttbhf gspn jdptbdje/dpn");return false;'>
				<span class="fa fa-envelope-o"></span>
			</a>
			<a class="deviant" title="Check my DeviantArt gallery" href="http://icosacid.deviantart.com/" target='_blank'>
				<span class="fa fa-deviantart"></span>
			</a>
			<a class='github' title="Check my repositories on GitHub" href="https://github.com/Icosacid" target='_blank'>
				<span class="fa fa-github"></span>
			</a>
			<a class='codepen' title="Play live with my code on Codepen" href="https://codepen.io/Icosacid" target='_blank'>
				<span class="fa fa-codepen"></span>
			</a>
		</div>
	</div>
</template>

<!-- IE fallback -->
<div id="ie-fallback">
	<img width="150" height="150" src='img/website/icosacidron-svg-blue.svg' />
	<p>This website works best on modern browsers.<br/>Please don't use Internet Explorer and download <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>

	<p>Thanks!</p>
</div>

<!-- Libs -->
<script type='text/javascript' src="node_modules/vue/dist/vue.min.js"></script>
<!--<script type='text/javascript' src="node_modules/vue/dist/vue.js"></script>-->
<script type='text/javascript' src="node_modules/vue-router/dist/vue-router.min.js"></script>
<script type='text/javascript' src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- Ours -->
<script type='text/javascript' src="js/utils.js"></script>
<script type='text/javascript' src="js/jAntispam.js"></script>
<script type='text/javascript' src="js/main.js"></script>

</body>
</html>
