<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset='utf-8'/>
	<title>_Transition</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
	<link rel='stylesheet' type='text/css' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
	
	<!-- Stylesheets -->
	<link rel='stylesheet' type='text/less' href="less/main.less" />
	<link rel='stylesheet' type='text/css' href="css/ie-fallback.css" />

	<!-- Only script in header: less on-the-fly compiler -->
	<script type='text/javascript' src="node_modules/less/dist/less.min.js"></script>
	
</head>
<body>

<div id="transition-web">
	<div class="header"
		 v-bind:class="{ 'mobile-menu-open': isOpen }">
		<div class="logo">
			<a href="#" class="menu-tab">
				<p class="fa fa-connectdevelop fa-2x"></p>
			</a>
		</div>
		<div class="menu" v-on:click="isOpen = false">
			<a href="#abstract" class="menu-tab home">Abstract</a>
			<a href="#showcase" class="menu-tab home">Showcase</a>
			<a href="#mediums" class="menu-tab home">Mediums</a>
			<a href="#about" class="menu-tab home">About</a>
			<a href="#acks" class="menu-tab home">Acknowledgements</a>
			<a href="#contact" class="menu-tab home">Contact</a>
		</div>
		<div class="mobile-burger" v-on:click="isOpen = !isOpen">
			<p class="fa fa-bars" v-if="!isOpen"></p>
			<p class="fa fa-times" v-if="isOpen"></p>
		</div>
	</div>

	<div class="core">
		<router-view></router-view>
	</div>

	<div class="footer">
		<p class="click-and-hue">jeanf & Alexandre Andrieux</p>
		<p class="version">@2018</p>
	</div>
</div>

<!-- View templates -->
<template id="home-template">
	<div id="home">
		<div class="page-banner"></div>

		<div class="page-content">
            <h1>_Transition</h1>
			<div class="abstract" id="abstract">
				<h3>Abstract</h3>
				<p>
					Both frustrating and mesmerizing states of mind are actors in this oniric scenery by exhibiting a constant yet unpredictable oscillation between organic and digital worlds. This switch is also present in the creative process. Through a constant transition between these states, lejeanf attempts to make visitors question themselves upon what they actually perceive being true or not.
				</p>
			</div>
			<div id="showcase">
				<h3>Showcase</h3>
				<div class="showcase">
					<img src="img/art/pyramid.jpg" />
					<img src="img/art/t1.jpg" />
					<img class="smaller" src="img/art/landscape1.jpg" />
					<img class="smaller" src="img/art/t2.jpg" />
					<img class="smaller" src="img/art/t3.jpg" />
					<img class="smaller" src="img/art/t5.jpg" />
					<video src="vids/magnetic.mp4" autoplay loop muted></video>
				</div>
			</div>
			<div class="medium" id="mediums">
				<h3>Mediums</h3>
				<p>VR experience - Will be exhibited at Mirage Festival 2018, Lyon, FR.</p>
				<p>Dome performance - Vaux-En-Velin’s Planetarium show is under planning.</p>
			</div>
			<div class="about" id="about">
				<h3>About</h3>
				<h4>lejeanf</h4>
				<div class="jeanf bio-section">
					<img src="img/other/jeanf.png" title="jeanf" />
					<p>
						jeanf's artistic research is driven by an hybridation of object belonging to the technological realm confronted with the physical world by digitality.
						Moving images are taking most part in his practice.
						This aspect merges itself with a performative dimension, a taste for interactivity and an immersive character which all-in-all play with the notion of spacetime.
						He combines video to technical objects that he makes and transforms himself.
						<br/>
						<br/>
						jeanf directed the _Transition project from its inception to its realization.
						<br/>
						<br/>
						<a href="http://lejeanf.com/" target="_blank">http://lejeanf.com</a>
					</p>
				</div>
				<h4>Alexandre Andrieux</h4>
				<div class="alex bio-section">
					<img src="img/other/alexsquaregrey.jpg" title="alex" />
					<p>
						Alex is a creative coder who is all about revealing the intrinsic beauty of physical equations and maths that rule our universe.
						From a background in the web industry, he uses various techniques to create abstract artworks with particle systems.
						<br/>
						<br/>
						Alex imagined and programmed the physical models at play in _Transition.
						<br/>
						<br/>
						<a href="http://icosacid.com/" target="_blank">http://icosacid.com/</a>
					</p>
				</div>
				<div class="location">
					<h4>Location</h4>
					<p>Les subsitances, Lyon, FR > <a href="http://www.miragefestival.com/" target="_blank">http://www.miragefestival.com/</a></p>
					<p>Planetarium de Vaux-En-Velin, FR > <a href="http://www.planetariumvv.com/" target="_blank">http://www.planetariumvv.com/</a></p>
				</div>
				<h4>Music</h4>
				<div class="music">
					<p>Yngvesin - electronic music > <a href="https://soundcloud.com/yngvesin" target="_blank">https://soundcloud.com/yngvesin</a></p>
				</div>
				<div class="another-image">
					<img src="img/art/t4.jpg" />
				</div>
			</div>
			<div class="acks" id="acks">
				<h3>Acknowledgements</h3>
				<div class="flexrow flexwrap">
                    <a href="http://www.theoriz.com/" target="_blank" class="ack theoriz">
                        <img src="img/other/theoriz.png" />
                        <p>Theoriz Studio</p>
                    </a>
                    <a href="http://benjamin.kuperberg.fr/" target="_blank" class="ack benkuper">
                        <img src="img/other/benkuper.png" />
                        <p>Ben Kuper</p>
                    </a>
                    <a href="https://superposition.fr/" target="_blank" class="ack superposition">
                        <img src="img/other/superposition.png" />
                        <p>Superposition</p>
                    </a>
                    <a href="http://aadn.org/" target="_blank" class="ack aadn">
                        <img src="img/other/aadn.png" />
                        <p>AADN</p>
                    </a>
                    <a href="https://www.miragefestival.com/" target="_blank" class="ack mirage">
                        <img src="img/other/mirage.jpg" />
                        <p>Mirage Festival</p>
                    </a>
                    <a href="https://www.les-subs.com/" target="_blank" class="ack subs">
                        <img src="img/other/subs.png" />
                        <p>Les Subsistances</p>
                    </a>
                    <a href="https://melting.space/new/#/blog" target="_blank" class="ack melting">
                        <p class="fa fa-connectdevelop"></p>
                        <p>Melting Space</p>
                    </a>
				</div>
			</div>
		</div>

		<logo-links></logo-links>
	</div>
</template>

<!-- Components -->
<template id="logo-links-template">
	<div class="logo-links">
		<h3 id="contact">Contact</h3>
		<div class="inner">
			<a class="mailme" title="Send an e-mail" href="#"
			   onclick='linkTo_UnCryptMailto("nbjmup+jdptbdjeAhnbjm/dpn?tvckfdu=Nfttbhf gspn jdptbdje/dpn");return false;'>
				<span class="fa fa-envelope-o"></span>
			</a>
            <!--
			<a class="deviant" title="Check our DeviantArt gallery" href="http://icosacid.deviantart.com/" target='_blank'>
				<span class="fa fa-deviantart"></span>
			</a>-->
			<a class='github' title="Check this page repo on GitHub" href="https://github.com/Icosacid/transition" target='_blank'>
				<span class="fa fa-github"></span>
			</a>
			<a class='jeanf' title="jeanf website" href="http://lejeanf.com/" target="_blank">
				<img src="img/other/jeanf.png" />
			</a>
			<a class='alex' title="Alex website" href="http://icosacid.com/" target="_blank">
				<img src="img/other/alexsquaregrey.jpg" />
			</a>
		</div>
	</div>
</template>

<!-- IE fallback -->
<div id="ie-fallback">
	<img width="150" height="150" src='img/website/icosacidron-svg-blue.svg' />
	<p>This website works best on modern browsers.<br/>Please don't use Internet Explorer and download <a href="https://www.mozilla.org/fr/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>

	<p>Thanks!</p>
</div>

<!-- Libs -->
<script type='text/javascript' src="node_modules/vue/dist/vue.min.js"></script>
<!--<script type='text/javascript' src="node_modules/vue/dist/vue.js"></script>-->
<script type='text/javascript' src="node_modules/vue-router/dist/vue-router.min.js"></script>
<script type='text/javascript' src="node_modules/jquery/dist/jquery.min.js"></script>

<!-- Ours -->
<script type='text/javascript' src="js/utils.js"></script>
<script type='text/javascript' src="js/jAntispam.js"></script>
<script type='text/javascript' src="js/main.js"></script>

</body>
</html>
